<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <section>
        <h2>Mensagens</h2>
        
        <% for(let mensagem of mensagens){ %>
            <div>
                <p>Nome: <%= mensagem.nome%></p>
                <p>E-mail: <%= mensagem.email%></p>
                <p>Mensagem: <%= mensagem.mensagem%></p>
                <hr>
            </div>
        <% } %>
    
    </section>
</body>
</html>