<link rel="stylesheet" href="/styles.css">
<h1> Gatos </h1>
<nav>
    <a href="/"> Home </a>
    <a href="/gatos"> Gatos </a>
    <a href="/sobre"> Sobre </a>
</nav>
<ul>
    <li>Siamês</li>
    <li>Persa</li>
</ul>