<!DOCTYPE html>
<html lang="en">

<%-include("shared/head")%>

<body>

    <%-include("shared/header")%>
    <h2> OBRIGADE! </h2>
    <p>
        Nós recebemos sua mensagem e nossa equipe entrará em contato com gatinho fofinho!
    </p>
    
</body>
</html>