/* font-family: 'Lato', sans-serif;
font-family: 'Kalam', cursive; */

body{
     background-color: rgb(230, 175, 255);
     margin: 0;
     font-family: 'Lato', sans-serif;

}

header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color:  rgb(201, 83, 255);
}

header img {
     width: 80px;
     height: 60px;
     display: flex;
     align-items: center;
}

header nav{
     display: flex;
     align-items: center;
}

header nav a{
     text-decoration: none;
     margin: 0 10px;
     color: black;
     padding: 30px;
}

h1{
     font-family: 'Kalam', cursive;
}

header .logo{
     display: flex;
     align-items: center;
}


footer{
     padding: 30px 10px;
     background-color: rgb(201, 83, 255);
     color: white;
 }


.home .banner {
     position: relative;
     font-family: 'Kalam', cursive;
 }
 
 .home .banner h2{
     position: absolute;
     top: 30px;
     left: 30px;
     color:rgb(201, 83, 255);
     font-size: 60px;
     width: 500px;
     max-width: 100%;
     line-height: 1.5;
     z-index: 1;
 }

 .home .banner img{
     width: 100%;
 }
 
 
 
 .home form{
     width: 800px;
     max-width: 100%;
     margin: auto;
 }
 
 .home form input, .home form textarea{
     width: 100%;
     padding: 10px;
     display: block;
     box-sizing: border-box;
     margin: 10px 0;
     border: 1px solid #aaa;
     border-radius: 5px;
     font-size: 18px;
 }
 
 .home form button{
     border: 0;
     border-radius: 50px;
     background-color: rgb(201, 83, 255);
     padding: 10px 20px;
     color: white;
     font-size: 18px;
     margin: 10px 0;
 }

.gatos h2{
     display: flex;
     justify-content: center;
}

 .gatos .container{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }
 
 .gatos .container div{
     width: 30%;
 }
 
 .gatos .container div img{
     width: 100%;
 }

